# Build trees
/build/
/build-*/

# Generated Doxygen output
/docs/doxygen/
/docs/doxygen-warnings.log

# Proyect documentations
/docs/*.pdf
/docs/**/*.pdf

# macOS metadata
.DS_Store
._*

scripts/plot_paper_figures.py

# Otuput/Results run
/output*
/paper*

docs/code_presentation/safa_beamer.aux
docs/code_presentation/safa_beamer.log
docs/code_presentation/safa_beamer.nav
docs/code_presentation/safa_beamer.out
docs/code_presentation/safa_beamer.snm
docs/code_presentation/safa_beamer.synctex.gz
docs/code_presentation/safa_beamer.toc
docs/code_presentation/safa_beamer.vrb

